.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  background: linear-gradient(45deg, rgba(255,210,34,1) 0%, rgba(224,147,31,1) 50%);
  height: 100vh;
  width: 100vw;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
}